
html{
  font-family: serif;
}

table {
  font-size: 4em;
  height: 400px;
  width: 100%;

  vertical-align: center;
  text-align:  center;
  align : center;

  margin: auto;
  border: 4px solid;
  border: collapse;
  border-spacing: 0px;
}

td {
  border: 2px solid;
  border: collapse;
  padding: 15px;
}

.citazione{
  font-size: 5em;
  text-align:  center;
}

.container{
  align:  center;
  background-color:  #ccffff;
  margin: auto;
  width:80%;
}
